<!doctype html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state in states | sort(attribute='name', reverse = False) %}
            <LI>{{ state.id|e }}: <B>{{ state.name|e }}</B></LI>
                <UL>
                    {% for city in cities | sort(attribute='name'%)
                    {% if city.state_id|e == state.id|e %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endif %}
                    {% endfor %}
                </UL>
            {% endfor %}
        </UL>
    </BODY>
</HTML>